<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context   
	   http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">	
	<bean id="inventoryDAO" class="kr.co.seoulit.logistics.purchase.dao.InventoryDAOImpl"
	    parent="sqlMapClientTemplate"/>
	<bean id="subulRecordDAO" class="kr.co.seoulit.logistics.purchase.dao.SubulRecordDAOImpl"
	    parent="sqlMapClientTemplate"/>
	<bean id="productionPlanDAO" class="kr.co.seoulit.logistics.purchase.dao.ProductionPlanDAOImpl"
	    parent="sqlMapClientTemplate"/>
	<bean id="purchaseServiceFacade" class="kr.co.seoulit.logistics.purchase.service.PurchaseServiceFacadeImpl"
	      p:purchaseApplicationService-ref="purchaseApplicationService" />
	<bean id="purchaseApplicationService" class="kr.co.seoulit.logistics.purchase.applicationservice.PurchaseApplicationServiceImpl"
	      p:inventoryDAO-ref="inventoryDAO"
	      p:subulRecordDAO-ref="subulRecordDAO"
	      p:orderInfoDAO-ref="orderInfoDAO"
	      p:productionPlanDAO-ref="productionPlanDAO"
	      p:messageSource-ref="message" />
</beans>