<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context   
	   http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">	
	<bean id="orderDAO" class="kr.co.seoulit.logistics.business.dao.OrderDAOImpl"
	    parent="sqlMapClientTemplate"/>
	<bean id="orderInfoDAO" class="kr.co.seoulit.logistics.business.dao.OrderInfoDAOImpl"
	    parent="sqlMapClientTemplate"/>
	<bean id="businessServiceFacade" class="kr.co.seoulit.logistics.business.service.BusinessServiceFacadeImpl"
	      p:businessApplicationService-ref="businessApplicationService" />
	<bean id="businessApplicationService" class="kr.co.seoulit.logistics.business.applicationservice.BusinessApplicationServiceImpl"
	      p:orderDAO-ref="orderDAO"
	      p:orderInfoDAO-ref="orderInfoDAO"
	      p:messageSource-ref="message" />
</beans>